<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666220261387-3qsprr1gieoodtruhhmaucarvmp3fcrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666220261387-3qsprr1gieoodtruhhmaucarvmp3fcrl</string>
	<key>API_KEY</key>
	<string>AIzaSyBQS0r1kvWyqwwmpyJ-hfKA_PSLWONGlDg</string>
	<key>GCM_SENDER_ID</key>
	<string>666220261387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prayerhub.prayerHub</string>
	<key>PROJECT_ID</key>
	<string>prayerchain-836d0</string>
	<key>STORAGE_BUCKET</key>
	<string>prayerchain-836d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666220261387:ios:dfca061466ccc06d60570e</string>
</dict>
</plist>